.heading {
  font-size: 2rem;
  color: #fce300;
  text-shadow: 2px 2px 5px #000;
  text-align: center;
}

.btn {
  background-color: #000000 !important;
  color: #ffffff;
  border: none !important;
  box-shadow: 2px 2px rgb(47, 152, 201);
}

.btn:hover {
  background-color: #ffffff !important;
  color: #000000;
  box-shadow: 2px 2px rgb(0, 0, 0);
}


.input {
  align-self: center;
  border-color:rgb(47, 152, 201);
  background-color: #212529;
  color: rgb(255, 255, 255);
  border-width: 1%;
  vertical-align:middle;
  outline: None;
}

.input:focus {
  color: white;
  border-radius: 1%;
  border-color:#ffff00;
  background-color: #2125296d;
  box-shadow: 1px 1px #ffff00;
}


.user-input {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
  color: white;
  border: none !important;
  box-shadow: 1px 1px rgb(255, 255, 255);
  min-height: 4vh;
}

.user-input:focus {
  background-color: #000000ad;
  color: white;
  border: none !important;
  box-shadow: 1px 1px rgb(255, 255, 255);
  min-height: 5vh;
}

.form-text {
  font-size: 0.775rem;
  color: #ffffff !important;
  margin-left: 0.5vh;;
}

.form-control::placeholder {
  color: #ffffff !important;
  opacity: 0.5;
}


/* login */
.btn-gradient {
  position: relative;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  background: rgb(0, 0, 0);
  border-radius: 8px;
  border: None;
  z-index: 1;
  overflow: hidden;
}

.btn-gradient::before {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: inherit;
  background: linear-gradient(130deg, rgb(4, 134, 87), rgb(255, 138, 4), rgb(124, 1, 42));
  background-size: 400%;
  z-index: -1;
  animation: moveBorder 2s linear infinite;
}

.btn-gradient::after {
  content: "";
  position: absolute;
  background: rgb(146, 8, 8);
  border-radius: inherit;
  z-index: -1;
}

@keyframes moveBorder {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}


/* logout */
.icon-log-out {
  position: fixed;
  margin-left: 93.5%;
  font-size: 20px;
  color:#e3e5e7;
}


/* navbar */
.navbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 120%;
  background: #212529;
  padding: 10px 0;
  border-radius: 50px;
  clip-path: ellipse(70% 100% at 50% 100%);
}

.navbar-hidden {
  display: none !important;
}

.icon-link {
  font-size: 2.5vh;
  color: #ffffffad;
  padding: 0 4vh;
  margin: 0 0.01vh;
  margin-bottom: 2.5vh;
}

.icon-link:nth-child(1) { transform: translateY(12px); margin-left: 2vh;}
.icon-link:nth-child(2) { transform: translateY(6px); }
.icon-link:nth-child(3) { transform: translateY(6px); }
.icon-link:nth-child(4) { transform: translateY(12px); margin-right: 2vh;}


.active-icon {
  color: #fce300 !important;
  font-size: 3vh;
  margin-bottom: 2.5vh;
}

.app-name {
  text-align: center;
  width: 100%;
  font-size: small;
  color: #FFD700;
  letter-spacing: 20%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 2px 2px 5px #000;
}

.btn-gradient-app-name {
  position: relative;
  padding: 10px 20px;
  font-weight: bold;

  background: linear-gradient(130deg, rgb(4, 134, 87), rgb(255, 138, 4), rgb(124, 1, 42));
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  border-radius: 8px;
  border: none;
  z-index: 1;
  overflow: hidden;

  animation: moveGradient 5s linear infinite;
}

.hidden-word {
  display: none;
}
@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 400% 50%;
  }
}



/* search input */
.input-search-dictionary {
  width: 95%;
  margin-top: 10%;
  height: 40px;
}

.input-search-irregular{
  width: 95%;
  margin-top: 2%;
  height: 40px;
}

.input-search-schweiz{
  width: 95%;
  margin-top: 10%;
  height: 40px;
}

.input-search::placeholder {
  color:#edeeee7e;
  vertical-align:middle;
}


/* table */
.form-dictionary {
  width: 95%;
  align-self: center;
}

/* table standard */
.table-standard {
  border-radius: 12px;
  overflow: hidden;
  table-layout: fixed;
  gap: 10px;
  box-shadow: 2px 2px rgb(47, 152, 201);
}

.table-standard th, td:focus {
  outline: none;
  border-radius: 2% !important;
  border-color: #ffff00;
}

.table-standard td div{
  overflow-x: auto;
}

.table-standard thead {
  display: block;
}

.table-standard thead th {
  font-size: small;
  vertical-align: middle;
}

.table-standard tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-standard thead th:last-child {
  border-right: None !important;
}

.table-standard thead th {
  border-right: 1.5px solid rgb(47, 152, 201) !important;
  border-bottom: 1.5px solid rgb(47, 152, 201) !important;
  color: #ffffff !important;
  text-align: center !important;
}

.table-standard thead tr {
  border-bottom: 1px solid rgb(47, 152, 201) !important;
  font-size: 100%;
}

.table-standard tbody td {
  border-right: 1px solid rgb(47, 152, 201) !important;
  font-size: 80%;
}

.table-standard td {
    white-space: nowrap;
    overflow-x: auto;
}

.table-standard tbody td:first-child {
  text-align: center !important;
}

.table-standard tbody td:last-child {
  border-right: None !important;
}


/* table dictionary */
.table-dictionary th:first-child,
.table-dictionary td:first-child {
  width: 10% !important;
}

.table-dictionary tbody {
  display: block;
  overflow-y: auto;
  max-height: 47vh;
}


/*table irregular */
.table-irregular th, .table-irregular td {
  text-align: center !important;
  font-size: x-small !important
}

.table-irregular tbody {
  display: block;
  overflow-y: auto;
  max-height: 68.2vh;
}

.table-irregular th:first-child,
.table-irregular td:first-child {
  width: 20% !important;
}

.table-irregular th:nth-child(2),
.table-irregular td:nth-child(2) {
  width: 17% !important;
}

.table-irregular th:nth-child(3),
.table-irregular td:nth-child(3) {
  width: 17% !important;
}

.table-irregular th:nth-child(4),
.table-irregular td:nth-child(4) {
  width: 25% !important;
}

.table-irregular th:nth-child(5),
.table-irregular td:nth-child(5) {
  width: 21% !important;
}

.table-irregular tbody td:first-child {
  text-align:left !important;
}



/* table schweiz */
.table-schweiz tbody {
  display: block;
  overflow-y: auto;
  max-height: 38.5vh !important;
}

.table-schweiz th:first-child,
.table-schweiz td:first-child {
  width: 10% !important;
}




.logout-fixed-icon {
  position: fixed;
  margin-left: 93.5%;
  font-size: 20px;
  color:#e3e5e7;
}

.btn-id {
  background-color: transparent;
  color: white;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-delete {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}


.word_row.active-row {
  background-color: rgba(255, 255, 255, 0.1);
  outline: 2px solid #00bcd4;
  transition: background-color 0.3s, outline 0.3s;
}


.add-notes-button {
    margin-left: 2vh;
    margin-top: 2vh;
    width: 15%;
}

#new-card-note .modal-content {
    min-height: 40vh !important;
    background-color: rgba(0, 0, 0)!important;
    border-color: white !important;
}

.card-body {
    min-height: 20vh !important;
    color: white !important;
}






@media (min-width: 768px) {

  .navbar {
    top: 0;
    bottom: 92%;
    width: 100%;
    padding: 0 !important;
    border-radius: 0 !important;
    clip-path: none !important;
    box-shadow: 0 5px 10px rgba(248, 0, 0, 0.644);
  }


  .navbar-container {
    margin-right: 13vh;
    margin-top: 2vh;
  }

  .icon-link {
    transform: none !important;
    font-size: 2vh;
    color: #ffffffad;
  }

  .icon-link:active {
    color: #fce300 !important;
    font-size: 2.5vh;
  }

  .icon-log-out {
    position: fixed;
    margin-left: 97%;
}


}



