.btn {
  background-color: #000000 !important;
  color: #ffffff;
  border: none !important;
  box-shadow: 2px 2px rgb(47, 152, 201);
}

.btn:hover {
  background-color: #ffffff !important;
  color: #000000;
  box-shadow: 2px 2px rgb(0, 0, 0);
}

.form-check {
  margin-left: 1vh;
}

.form-check-input {
  width: 2vh;
  height: 2vh;
  background-color: #000000;
  border: none;
}

.form-check-input:checked {
  background-color: #000000;
  box-shadow: none;
  
}

.form-check-input:focus {
  box-shadow: none; 
}




.input {
  align-self: center;
  border-color:rgb(47, 152, 201);
  background-color: #212529;
  color: rgb(255, 255, 255);
  border-width: 1%;
  vertical-align:middle;
  outline: None;
}

.input:focus {
  color: white;
  border-radius: 1%;
  border-color:#ffff00;
  background-color: #2125296d;
  box-shadow: 1px 1px #ffff00;
}

.input-form {
  margin-top: 10vh;
}

.user-input {
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
  color: white;
  border: none !important;
  box-shadow: 1px 1px rgb(255, 255, 255);
}

.user-input:focus {
  background-color: #000000ad;
  color: white;
  border: none !important;
  box-shadow: 1px 1px rgb(255, 255, 255);
}

.form-text {
  font-size: 0.775rem;
  color: #ffffff !important;
  margin-left: 0.5vh;;
}

.form-control::placeholder {
  color: #ffffff !important;
  opacity: 0.5;
}

/* login */
.btn-gradient {
  position: relative;
  padding: 10px 20px;
  font-weight: bold;
  color: white;
  background: rgb(0, 0, 0);
  border-radius: 8px;
  border: None;
  z-index: 1;
  overflow: hidden;
}

.btn-gradient::before {
  content: "";
  position: absolute;
  inset: -1px;
  border-radius: inherit;
  background: linear-gradient(130deg, rgb(4, 134, 87), rgb(255, 138, 4), rgb(124, 1, 42));
  background-size: 400%;
  z-index: -1;
  animation: moveBorder 2s linear infinite;
}

.btn-gradient::after {
  content: "";
  position: absolute;
  background: rgb(146, 8, 8);
  border-radius: inherit;
  z-index: -1;
}

@keyframes moveBorder {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}


/* logout */
.icon-log-out {
  position: fixed;
  margin-left: 93.5%;
  font-size: 20px;
  color:#e3e5e7;
}


/* navbar */
.curved-navbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 120%;
  background: #212529;
  padding: 15px 0;
  border-radius: 50px;
  clip-path: ellipse(70% 100% at 50% 100%);
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.3);
}

.icon-link {
  font-size: 28px;
  color: #ffffffad;
  margin-top: 2px;
  margin-bottom: 15px;
}

.icon-link:nth-child(1) { transform: translateY(12px); margin-left: 4%;}
.icon-link:nth-child(2) { transform: translateY(6px); }
.icon-link:nth-child(3) { transform: translateY(1px); }
.icon-link:nth-child(4) { transform: translateY(1px); }
.icon-link:nth-child(5) { transform: translateY(6px); }
.icon-link:nth-child(6) { transform: translateY(12px); margin-right: 4%;}

.active-icon {
  color: #fce300 !important;
  font-size: 36px;
  margin-bottom: 2vh;
}


/* search input */
.input-search{
  width: 95%;
  margin-top: 10%;
  height: 40px;
}

.input-search::placeholder {  
  color:#edeeee7e;
  vertical-align:middle;
}


/* table */
.form-dictionary {
  width: 95%;
  align-self: center;

}


.table-dictionary {
  border-radius: 12px;
  overflow: hidden;
  table-layout: fixed;
  gap: 10px;
  box-shadow: 2px 2px rgb(47, 152, 201);
}

.table-dictionary th, td:focus {
  outline: none;
  border-radius: 2% !important;
  border-color: #ffff00;
}

.table-dictionary td div{
  overflow-x: auto;
}

.table-dictionary thead {
  display: block;
}

.table-dictionary tbody {
  display: block;
  overflow-y: auto;
  max-height: 700px;
}

.table-dictionary-schweiz tbody {
  display: block;
  overflow-y: auto;
  max-height: 350px !important;
}

.table-dictionary tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table-dictionary th:first-child, td:first-child {
  width: 10% !important;
}

thead th:last-child {
  border-right: None !important; 
}

thead th {
  border-right: 1.5px solid rgb(47, 152, 201) !important;
  border-bottom: 1.5px solid rgb(47, 152, 201) !important;
  color: #ffffff !important;
  text-align: center !important;
}

thead tr {
  border-bottom: 1px solid rgb(47, 152, 201) !important;
  font-size: 100%;
}

tbody td { 
  border-right: 1px solid rgb(47, 152, 201) !important; 
} 

tbody td {
  font-size: 80%;
}

tbody td:first-child {
  text-align: center !important;
}

tbody td:last-child {
  border-right: None !important;
}

.btn-delete {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}


/* checkup */
.checkup-generated {
  margin-left: 13%;
  background-color: #ffffff;
  margin-top: 20%;
  box-shadow: 1px 1px rgb(0, 0, 0);
  border: none !important;
  height: 15vh;
}

.correct {
  animation: correct_anim 1s ease-in-out;
}

.checkup-generated.clicked{
  .correct-translation {
    color: #000000;
  }
}

.generated-word {
  border-radius: 2vh;
  border-color: #000000;
}

.correct-translation {
  color:#ffffff;
}

.checkup-input {
  width: 75%;
  margin-top: 10%;
  margin-left: 10%;
  height: 4%;
  box-shadow: 1px 1px rgb(47, 152, 201);
}

.checkup-input:focus {
  border-radius: 1%;
  border-color:#ffff00;
  background-color: #212529c7;
  box-shadow: 1px 1px #ffff00;
}

.generate-german{
  width: 40%;
  margin-top: 20%; 
}

.generate-translated{
  width: 40%;
  margin-top: 20%;
}


.correct {
  animation: glow 0.8s ease-out;
}

@keyframes glow {
  0% { box-shadow: 0 0 10px 4px #00ff88; }
  100% { box-shadow: 0 0 0px 0px transparent; }
}



/*
let touchstartx = 0;
let touchendx = 0;

function check_direction() {
    if (touchendx < touchstartx)
        document.getElementsByClassName("button-alert")[0].click();
    if (touchendx > touchstartx)
        document.getElementsByClassName("button-alert")[1].click();
}

var bb = document.getElementById("blue-bar");

bb.addEventListener("touchstart", (e) => {
    touchstartx = e.changedTouches[0].screenX;
});
bb.addEventListener("touchend", (e) => {
    touchendx = e.changedTouches[0].screenX;
    check_direction();
});


