{% extends "base.html" %}

{% block content %}
<div class="col-12 col-md-6 container">
    <div class="row">
        <div class="generated-card checkup-generated float-center card w-75 mb-5">
            <div class="card-body text-center mb-2">
                <h6 class="generated-word mb-3">{{ generated_word }}</h6>
                <h6 class="correct-translation">{{ correct_translation }}</h6>
            </div>
        </div>

        <div>
            <input class="form-control user-input" placeholder="deine Antwort...oder klicken Sie auf die Karte" autocapitalize="off" oninput="check_translation()"></input>
        </div>

        <div class="text-center">
            <button class="btn generate-german rounded-2" type="submit" id="generate-german" onclick="generate_word(this.id)">deutsches Wort</button>
            <button class="btn generate-translated rounded-2" type="submit" id="generate-translated" onclick="generate_word(this.id)">übersetztes Wort</button>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
{% endblock %}