{% extends "base.html" %}

{% block content %}
<div class="col-12 col-md-6 container w-100">
    <form method="POST" action="{{ url_for('insert') }}" class="input-form w-95">
        <div class="card-body">
            <div class="user-input-div mb-3 w-100">
                <small id="german_word_help" class="form-text text-muted">deutches Wort</small>
                <input type="text" class="form-control user-input mb-2" id="german_word" name="german_word" required>
            </div>
            <div class="user-input-div mb-5 w-100">
                <small id="german_translated_word_help" class="form-text text-muted">die übersetzung</small>
                <input type="text" class="form-control user-input mb-2" id="german_translated_word" name="german_translated_word" required>
            </div>
            <div class="d-grid text-center w-100">
                <button type="submit" class="btn btn-outline-info" id="insert_words">einfügen</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

