{% extends "base.html" %}

{% block content %}
<h1 class="heading">unregelmäßige Verben</h1>

<div class="col-12 col-md-6 px-3">
    <input class="form-control input input-search-irregular rounded-2 mb-2 w-100" type="text" autocapitalize="off" placeholder="suche nach dem Wort" id="search_input_text_irregular" oninput="filterWordsIrregular()">

        <form class="form-dictionary w-100" method="POST" action="{{ url_for('irregular') }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <div class="table-wrapper">
                <table class="table table-dark table-standard table-irregular">
                    <thead>
                        <tr>
                            <th class="th_irregular">infinitiv</th>
                            <th class="th_irregular">2./3. person</th>
                            <th class="th_irregular">präteritum</th>
                            <th class="th_irregular">perfekt</th>
                            <th class="th_irregular">übersetzung</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for verb in verbs %}
                        <tr class="word_row">
                            <td data-editable="false" onclick="toggleVisibility(this)">
                                <div>{{ verb.infinitive }}</div>
                                <input type="hidden" name="infinitive_{{ verb.id }}" value="{{ verb.infinitive }}">
                            </td>
                            <td data-editable="false" onclick="toggleVisibility(this)">
                                <div>{{ verb.second_third_infinitive }}</div>
                                <input type="hidden" name="second_third_infinitive_{{ verb.id }}" value="{{ verb.second_third_infinitive }}">
                            </td>
                            <td data-editable="false" onclick="toggleVisibility(this)">
                                <div>{{ verb.preterit }}</div>
                                <input type="hidden" name="preterit_{{ verb.id }}" value="{{ verb.preterit }}">
                            </td>
                            <td data-editable="false" onclick="toggleVisibility(this)">
                                <div>{{ verb.perfekt }}</div>
                                <input type="hidden" name="perfekt_{{ verb.id }}" value="{{ verb.perfekt }}">
                            </td>
                            <td data-editable="false" onclick="toggleVisibility(this)">
                                <div>{{ verb.translation }}</div>
                                <input type="hidden" name="translation_{{ verb.id }}" value="{{ verb.translation }}">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
</div>

{% endblock %}