{% extends "base.html" %}

{% block content %}
<div class="col-12 col-md-6 container">
    <div class="container d-flex align-items-center w-100 mt-5">
        <input class="form-control input rounded-2" type="text" placeholder="eintippen oder klicken" id="search_input_text"></input>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        </div>
    </div>
    

    <form method="POST" action="{{ url_for('insert') }}" class="input-form w-95">
        <div class="card-body">
            <div class="user-check-div d-flex align-items-center w-100 mb-3 mb-3">
                <input type="text" class="form-control user-input" id="german_word" name="german_word" required>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </div>
            </div>
            <div class="user-check-div d-flex align-items-center w-100 mb-3">
                <input type="text" class="form-control user-input" id="german_word" name="german_word" required>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </div>
            </div>
            <div class="user-check-div d-flex align-items-center w-100 mb-3">
                <input type="text" class="form-control user-input" id="german_word" name="german_word" required>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </div>
            </div>
            <div class="user-check-div d-flex align-items-center w-100 mb-3">
                <input type="text" class="form-control user-input" id="german_word" name="german_word" required>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </div>
            </div>
            <div class="user-check-div d-flex align-items-center w-100 mb-3">
                <input type="text" class="form-control user-input" id="german_word" name="german_word" required>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </div>
            </div>
            <div class="d-grid text-center w-100">
                <button type="submit" class="btn btn-outline-info" id="insert_words">einfügen</button>
            </div>
        </div>
    </form>
</div>

<script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
{% endblock %}