{% extends "base.html" %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card bg-dark text-white shadow-lg animate__animated animate__fadeInDown" style="width: 25rem;">
        <div class="card-body">
            <h3 class="card-title text-center mb-5">der Anfang</h3>
            <form method="POST" action="{{ url_for('login') }}">
                {{ form.hidden_tag() }}
                <div class="mb-4">
                    {{ form.username(class="form-control", id="username", required=True, placeholder="Benutzername") }}
                </div>
                <div class="mb-4 input-group">
                    {{ form.password(class="form-control", id="password", required=True, placeholder="Passwort") }}
                    <button class="btn btn-outline-secondary btn-toggle-password" type="button" aria-label="Toggle password visibility" title="Show / hide password">
                        <i class="bi bi-eye" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="d-grid">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
                <div class="text-center mt-3">
                    <small>Noch keinen Account? <a href="{{ url_for('register') }}">Registrieren</a></small>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
