{% extends "base.html" %}

{% block content %}

<h1 class="heading">dein Wörterbuch</h1>
<button type="button" class="btn bi-clipboard-plus btn-primary add-notes-button" data-bs-toggle="modal" data-bs-target="#new-card-note"></button>

<div class="modal fade" id="new-card-note" tabindex="-1" aria-labelledby="new-card-note" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <input class="form-control input card-title rounded-2 mb-2" type="text" autocapitalize="off" placeholder="der Titel" id="note-title" required>
      </div>
      <div class="modal-body">
        <textarea class="form-control input card-body rounded-2 mb-2" autocapitalize="off" id="note-body" required></textarea>
        <button type="button" class="btn bi bi-save btn-primary"></button>
      </div>
    </div>
  </div>
</div>


<div class="accordion" id="accordion-notes">
  {% for note in notes %}
  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-{{ note.id }}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ note.id }}" aria-expanded="false" aria-controls="collapse-{{ note.id }}">
        {{ note.title }}
      </button>
    </h2>
    <div id="collapse-{{ note.id }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ note.id }}" data-bs-parent="#accordion-notes">
      <div class="accordion-body">
        {{ note.body | nl2br }}  <!-- nl2br filter converts newlines to <br> -->
      </div>
    </div>
  </div>
  {% endfor %}
</div>


<script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
{% endblock %}