{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 class="heading">dein schweizerisch Wörterbuch</h1>
    <div class="row flex-column flex-md-row justify-content-center align-items-start">

        <!-- Forma (levo na desktopu, gore na mobitelu) -->
        <div class="col-12 col-md-6 px-3">
            <form method="POST" action="{{ url_for('schweiz_insert') }}" class="w-100">
                <div class="card-body">
                    <div class="user-input-div">
                        <small id="schweiz_word_help" class="form-text text-muted">schweizes Wort</small>
                        <input type="text" class="form-control user-input" id="schweiz_word" name="schweiz_word" required>
                    </div>
                    <div class="user-input-div row mb-4">
                        <div class="col-6">
                            <small id="schweiz_translated_german_word_help" class="form-text text-muted">deutsche Übersetzung</small>
                            <input type="text" class="form-control user-input" id="schweiz_translated_german_word" name="schweiz_translated_german_word" required>
                        </div>
                        <div class="col-6">
                            <small id="schweiz_translated_word_help" class="form-text text-muted">deine Übersetzung</small>
                            <input type="text" class="form-control user-input" id="schweiz_translated_word" name="schweiz_translated_word" required>
                        </div>
                    </div>
                    <div class="d-grid text-center">
                        <button type="submit" class="btn btn-outline-info" id="insert_words">einfügen</button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Tabela (desno na desktopu, ispod forme na mobitelu) -->
        <div class="col-12 col-md-6 px-3">
            <input class="form-control input input-search rounded-2 mb-2 w-100" type="text" autocapitalize="off" placeholder="suche nach dem Wort" id="search_input_text" oninput="filter_words()">

            <form class="form-dictionary w-100 table-standard-schweiz" method="POST" action="{{ url_for('schweiz_dictionary') }}">
                <table class="table table-dark table-dictionary">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>schweizes Wort</th>
                            <th>deutsche Übersetzung</th>
                            <th>deine Übersetzung</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for word in words %}
                        <tr class="word_row">
                            <td>{{ word.user_word_id }}</td>
                            <td contenteditable="true"
                                onblur="update_value_in_dictionary(this, 'schweiz_word_{{ word.id }}')"
                                onclick="delete_from_dictionary()">
                                <div>{{ word.schweiz_word }}</div>
                                <input type="hidden" name="schweiz_word_{{ word.id }}" value="{{ word.schweiz_word }}">
                            </td>
                            <td contenteditable="true"
                                onblur="update_value_in_dictionary(this, 'schweiz_translated_german_word_{{ word.id }}')"
                                onclick="delete_from_dictionary()">
                                <div>{{ word.schweiz_translated_german_word }}</div>
                                <input type="hidden" name="schweiz_translated_german_word_{{ word.id }}" value="{{ word.schweiz_translated_german_word }}">
                            </td>
                            <td contenteditable="true"
                                onblur="update_value_in_dictionary(this, 'schweiz_translated_word_{{ word.id }}')"
                                onclick="delete_from_dictionary()">
                                <div>{{ word.schweiz_translated_word }}</div>
                                <input type="hidden" name="schweiz_translated_word_{{ word.id }}" value="{{ word.schweiz_translated_word }}">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>

    </div>
</div>


<script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
{% endblock %}