{% extends "base.html" %}

{% block content %}
<div class="col-12 col-md-6 container">

    <div class="w-100 d-flex justify-content-center align-items-center" style="min-height: 35vh;">
        <form method="POST" action="{{ url_for('schweiz_insert') }}">
            <div class="card-body">
                <div class="user-input-div">
                    <small id="schweiz_word_help" class="form-text text-muted">schweizes Wort</small>
                    <input type="text" class="form-control user-input mb-2" id="schweiz_word" name="schweiz_word">
                </div>
                <div class="user-input-div row mb-4">
                    <div class="col-6">
                        <small id="schweiz_translated_german_word_help" class="form-text text-muted">deutsche übersetzung</small>
                        <input type="text" class="form-control user-input mb-2" id="schweiz_translated_german_word" name="schweiz_translated_german_word">
                    </div>
                    <div class="col-6">
                        <small id="schweiz_translated_word_help" class="form-text text-muted">übersetzung</small>
                        <input type="text" class="form-control user-input mb-2" id="schweiz_translated_word" name="schweiz_translated_word">
                    </div>
                </div>
                
                <div class="d-grid text-center">
                    <button type="submit" class="btn btn-outline-info" id="insert_words">einfügen</button>
                </div>
            </div>
        </form>
    </div>

    <input class="form-control input input-search rounded-2 mb-2 w-100" type="text" placeholder="suche nach dem Wort" id="search_input_text" oninput="filter_words()"></input>

    <form class="col-12 col-md-6 form-dictionary w-100" method="POST" action="{{ url_for('schweiz_dictionary') }}">
        <table class="table table-dark table-dictionary">
            <thead>
                <tr>
                    <th>#</th>
                    <th>schweizes Wort</th>
                    <th>deutche übersetzung</th>
                    <th>übersetzung</th>
                </tr>
            </thead>
            <tbody>
                {% for word in words %}
                <tr class="word_row">
                    <td>{{ word.id }}</td>
                    <td contenteditable="true" onblur="update_value_in_dictionary(this, 'schweiz_word_{{ word.id }}')" onclick="delete_from_dictionary()">
                        <div>{{ word.schweiz_word }}</div>
                        <input type="hidden" name="schweiz_word_{{ word.id }}" value="{{ word.schweiz_word }}">
                    </td>
                    <td contenteditable="true" onblur="update_value_in_dictionary(this, 'schweiz_translated_german_word_{{ word.id }}')">
                        <div>{{ word.schweiz_translated_german_word }}</div>
                        <input type="hidden" name="schweiz_translated_german_word_{{ word.id }}" value="{{ word.schweiz_translated_german_word }}">
                    </td>
                    <td contenteditable="true" onblur="update_value_in_dictionary(this, 'schweiz_translated_word_{{ word.id }}')">
                        <div>{{ word.schweiz_translated_word }}</div>
                        <input type="hidden" name="schweiz_translated_word_{{ word.id }}" value="{{ word.schweiz_translated_word }}">
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>

<script>
    function update_value_in_dictionary(element, inputName) {
        let hidden_input = document.querySelector(`input[name='${inputName}']`);
        hidden_input.value = element.innerText.trim();
        document.querySelector('.form-dictionary').submit();       
    }

    function filter_words() {
        let input = document.querySelector('#search_input_text');
        let filter = input.value.toLowerCase();
        
        let rows = document.querySelectorAll('.word_row');
        
        rows.forEach(row => {
            let schweiz_word = row.querySelector('td:nth-child(2)').innerText.toLowerCase();
            let german_word = row.querySelector('td:nth-child(3)').innerText.toLowerCase();
            let translated_word = row.querySelector('td:nth-child(4)').innerText.toLowerCase();

            if (schweiz_word.includes(filter) || german_word.includes(filter) || translated_word.includes(filter)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    }
</script>
{% endblock %}